# Data Setup

### ADP Data

In [1]:
import pandas as pd

df_ADP = pd.read_html("https://www.fantasypros.com/nfl/adp/ppr-overall.php?year=2012")[0]
df_ADP["year"] = int(2012)
df_ADP.head()

,Rank,Player Team (Bye),POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG,year
0,1,Arian Foster,RB1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,2012
1,2,Ray Rice,RB2,NaN,NaN,2.0,NaN,2.0,NaN,2.3,2012
2,3,LeSean McCoy,RB3,NaN,NaN,4.0,NaN,3.0,NaN,3.0,2012
3,4,Aaron Rodgers GB (10),QB1,NaN,NaN,3.0,NaN,4.0,NaN,4.0,2012
4,5,Calvin Johnson,WR1,NaN,NaN,5.0,NaN,5.0,NaN,5.3,2012

In [2]:
for i in range(13, 22):
    df_ADP = pd.concat([df_ADP, pd.read_html(
        "https://www.fantasypros.com/nfl/adp/ppr-overall.php?year=20" + str(i))[0]])
    
    df_ADP.loc[df_ADP["year"].isnull(), "year"] = int("20" + str(i))
    
df_ADP.reset_index(drop = True, inplace = True)
df_ADP['year'] = df_ADP['year'].astype(int)

df_ADP.sample(10)

,Rank,Player Team (Bye),POS,ESPN,RTSports,MFL,Fantrax,FFC,Sleeper,AVG,year
3650,803,Cardale Jones,QB100,686.0,NaN,NaN,NaN,NaN,NaN,686.0,2019
3800,953,Tanner Lee,QB115,848.0,NaN,NaN,NaN,NaN,NaN,848.0,2019
2534,175,Rishard Matthews,WR65,175.0,186.0,167.0,125.0,NaN,NaN,163.3,2018
939,1,Le'Veon Bell,RB1,NaN,1.0,1.0,1.0,3.0,NaN,1.5,2015
1404,5,DeAndre Hopkins ARI (9),WR4,NaN,NaN,5.0,5.0,6.0,NaN,5.8,2016
3286,439,Louis Murphy,WR141,336.0,NaN,NaN,NaN,NaN,NaN,336.0,2019
1753,354,Jason Myers SEA (5),K24,NaN,NaN,NaN,297.0,NaN,NaN,414.5,2016
1356,418,Will Johnson,RB121,NaN,NaN,NaN,382.0,NaN,NaN,382.0,2015
4541,64,Tee Higgins CIN (10),WR24,60.0,66.0,70.0,59.0,62.0,66.0,64.8,2021
2719,360,J.D. McKissic WAS (4),RB100,NaN,323.0,NaN,325.0,NaN,NaN,324.0,2018

In [3]:
df_ADP.rename({
               "Rank": "rank_adp", 
               "Player Team (Bye)": "player", 
               "AVG": "avg_adp"
              }, axis = 1, inplace = True)
df_ADP.columns = df_ADP.columns.str.lower()
df_ADP.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year
0,1,Arian Foster,RB1,NaN,NaN,1.0,NaN,1.0,NaN,1.0,2012
1,2,Ray Rice,RB2,NaN,NaN,2.0,NaN,2.0,NaN,2.3,2012
2,3,LeSean McCoy,RB3,NaN,NaN,4.0,NaN,3.0,NaN,3.0,2012
3,4,Aaron Rodgers GB (10),QB1,NaN,NaN,3.0,NaN,4.0,NaN,4.0,2012
4,5,Calvin Johnson,WR1,NaN,NaN,5.0,NaN,5.0,NaN,5.3,2012

In [4]:
df_ADP['pos'] = df_ADP['pos'].str.replace('\d+', '')
df_ADP.head()

C:\Users\mhugh\AppData\Local\Temp\ipykernel_5488\2860961360.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_ADP['pos'] = df_ADP['pos'].str.replace('\d+', '')

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year
0,1,Arian Foster,RB,NaN,NaN,1.0,NaN,1.0,NaN,1.0,2012
1,2,Ray Rice,RB,NaN,NaN,2.0,NaN,2.0,NaN,2.3,2012
2,3,LeSean McCoy,RB,NaN,NaN,4.0,NaN,3.0,NaN,3.0,2012
3,4,Aaron Rodgers GB (10),QB,NaN,NaN,3.0,NaN,4.0,NaN,4.0,2012
4,5,Calvin Johnson,WR,NaN,NaN,5.0,NaN,5.0,NaN,5.3,2012

In [5]:
df_ADP.loc[df_ADP["pos"] == "DST", "player"] = [i[0] for i in 
                                                df_ADP.loc[df_ADP["pos"] == "DST", 
                                                           "player"].str.split(" DST")]

temp = df_ADP.loc[df_ADP["pos"] != "DST", "player"].str.split(n = 2)
df_ADP.loc[df_ADP["pos"] != "DST", "player"] = temp.str[0] + " " + temp.str[1]
df_ADP.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year
0,1,Arian Foster,RB,NaN,NaN,1.0,NaN,1.0,NaN,1.0,2012
1,2,Ray Rice,RB,NaN,NaN,2.0,NaN,2.0,NaN,2.3,2012
2,3,LeSean McCoy,RB,NaN,NaN,4.0,NaN,3.0,NaN,3.0,2012
3,4,Aaron Rodgers,QB,NaN,NaN,3.0,NaN,4.0,NaN,4.0,2012
4,5,Calvin Johnson,WR,NaN,NaN,5.0,NaN,5.0,NaN,5.3,2012

### Points Data

In [6]:
df_points = pd.read_html(
    "https://www.fantasypros.com/nfl/reports/leaders/ppr.php?year=2012&start=1&end=16")[0]
df_points["year"] = 2012
df_points.head()

   Rank            Player Team Position  Points  Games   Avg  year
0     1    Calvin Johnson  DET       WR   330.2     15  22.0  2012
1     2  Brandon Marshall  CHI       WR   325.6     15  21.7  2012
2     3         Tom Brady   NE       QB   320.8     15  21.4  2012
3     4     Aaron Rodgers   GB       QB   315.9     15  21.1  2012
4     5        Drew Brees   NO       QB   315.8     15  21.1  2012

In [7]:
for i in range(13, 22):
    df_points = pd.concat([df_points, 
                           pd.read_html(
                               ("https://www.fantasypros.com/nfl/reports/leaders/ppr.php?year=20" 
                                + str(i) + "&start=1&end=16")
                           )[0]])
    df_points.loc[df_points["year"].isnull(), "year"] = int("20" + str(i))
    
df_points.reset_index(drop = True, inplace = True)
df_points['year'] = df_points['year'].astype(int)

df_points.sample(10)

       Rank              Player   Team Position  Points  Games   Avg  year
6473  281.0    Baltimore Ravens    BAL      DST    67.0   15.0   4.5  2021
1734  409.0       Robert Hughes    ARI       RB    20.6   15.0   1.4  2014
5825  361.0    Mohamed Sanu Sr.  Multi       WR    40.4    9.0   4.5  2020
3361   51.0     Jacoby Brissett    IND       QB   195.6   15.0  13.0  2017
2887  230.0  Phillip Dorsett II    IND       WR    89.2   14.0   6.4  2016
1272  578.0    Stephen Williams  Multi       WR     0.0    6.0   0.0  2013
4751   88.0     Jamison Crowder    NYJ       WR   177.1   15.0  11.8  2019
4102  125.0      Mark Ingram II     NO       RB   136.2   11.0  12.4  2018
5874  410.0      John Hightower    PHI       WR    28.7   12.0   2.4  2020
1801  476.0          Brian Tyms     NE       WR    11.3   10.0   1.1  2014

In [8]:
df_points.rename({
                  "Rank": "rank_scoring", 
                  "Position": "pos", 
                  "Avg": "avg_scoring"
                 }, axis = 1, inplace = True)
df_points.columns = df_points.columns.str.lower()
df_points.head()

   rank_scoring            player team pos  points  games  avg_scoring  year
0           1.0    Calvin Johnson  DET  WR   330.2   15.0         22.0  2012
1           2.0  Brandon Marshall  CHI  WR   325.6   15.0         21.7  2012
2           3.0         Tom Brady   NE  QB   320.8   15.0         21.4  2012
3           4.0     Aaron Rodgers   GB  QB   315.9   15.0         21.1  2012
4           5.0        Drew Brees   NO  QB   315.8   15.0         21.1  2012

In [9]:
temp = df_points.loc[df_points["pos"] != "DST", "player"].str.split(n = 2)
df_points.loc[df_points["pos"] != "DST", "player"] = temp.str[0] + " " + temp.str[1]
df_points.head()

   rank_scoring            player team pos  points  games  avg_scoring  year
0           1.0    Calvin Johnson  DET  WR   330.2   15.0         22.0  2012
1           2.0  Brandon Marshall  CHI  WR   325.6   15.0         21.7  2012
2           3.0         Tom Brady   NE  QB   320.8   15.0         21.4  2012
3           4.0     Aaron Rodgers   GB  QB   315.9   15.0         21.1  2012
4           5.0        Drew Brees   NO  QB   315.8   15.0         21.1  2012

### Merge and Save

In [10]:
df = pd.merge(df_ADP, df_points,  how='left', on = ["player", "pos", "year"])
df.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year,rank_scoring,team,points,games,avg_scoring
0,1,Arian Foster,RB,NaN,NaN,1.0,NaN,1.0,NaN,1.0,2012,15.0,HOU,282.2,15.0,18.8
1,2,Ray Rice,RB,NaN,NaN,2.0,NaN,2.0,NaN,2.3,2012,14.0,BAL,282.6,15.0,18.8
2,3,LeSean McCoy,RB,NaN,NaN,4.0,NaN,3.0,NaN,3.0,2012,70.0,PHI,183.7,11.0,16.7
3,4,Aaron Rodgers,QB,NaN,NaN,3.0,NaN,4.0,NaN,4.0,2012,4.0,GB,315.9,15.0,21.1
4,5,Calvin Johnson,WR,NaN,NaN,5.0,NaN,5.0,NaN,5.3,2012,1.0,DET,330.2,15.0,22.0

Because drafts typically only last until pick 225 at the latest, we should remove all occurences of draft ranking above 250. Players who were injured should also be removed because they may have misleading averages. This is due to the small sample size of games played.

In [11]:
df = df.loc[(df["rank_adp"] <= 250) & (df["games"] > 8), ]
df.sample(5)

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year,rank_scoring,team,points,games,avg_scoring
3002,152,Carlos Hyde,RB,174.0,118.0,168.0,148.0,158.0,NaN,155.7,2019,108.0,HOU,151.9,15.0,10.1
429,124,Martellus Bennett,TE,NaN,126.0,134.0,NaN,128.0,NaN,130.3,2013,87.0,CHI,166.4,15.0,11.1
4629,149,Indianapolis Colts,DST,148.0,161.0,165.0,151.0,149.0,150.0,151.8,2021,133.0,IND,131.0,15.0,8.7
869,93,Seattle Seahawks,DST,NaN,NaN,NaN,NaN,93.0,NaN,93.0,2014,155.0,SEA,123.0,15.0,8.2
2527,165,Devontae Booker,RB,NaN,128.0,141.0,121.0,174.0,NaN,141.0,2018,261.0,DEN,79.4,15.0,5.3

Fix special case of the two different WRs named Steve Smith

In [12]:
df.loc[df['player'] == 'Steve Smith', ]

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year,rank_scoring,team,points,games,avg_scoring
48,49,Steve Smith,WR,NaN,NaN,43.0,NaN,56.0,NaN,51.7,2012,50.0,CAR,204.8,15.0,13.7
49,49,Steve Smith,WR,NaN,NaN,43.0,NaN,56.0,NaN,51.7,2012,386.0,LAR,27.1,9.0,3.0
221,221,Steve Smith,WR,NaN,NaN,197.0,NaN,NaN,NaN,197.0,2012,50.0,CAR,204.8,15.0,13.7
222,221,Steve Smith,WR,NaN,NaN,197.0,NaN,NaN,NaN,197.0,2012,386.0,LAR,27.1,9.0,3.0
373,68,Steve Smith,WR,NaN,65.0,67.0,NaN,73.0,NaN,67.0,2013,93.0,CAR,162.5,15.0,10.8
898,122,Steve Smith,WR,NaN,NaN,NaN,NaN,122.0,NaN,122.0,2014,52.0,BAL,202.5,15.0,13.5
1553,151,Steve Smith,WR,NaN,NaN,145.0,165.0,151.0,NaN,157.0,2016,87.0,BAL,177.5,13.0,13.7

In [13]:
df.drop(index=[49, 222], inplace=True)

df.loc[df['player'] == 'Steve Smith', ]

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year,rank_scoring,team,points,games,avg_scoring
48,49,Steve Smith,WR,NaN,NaN,43.0,NaN,56.0,NaN,51.7,2012,50.0,CAR,204.8,15.0,13.7
221,221,Steve Smith,WR,NaN,NaN,197.0,NaN,NaN,NaN,197.0,2012,50.0,CAR,204.8,15.0,13.7
373,68,Steve Smith,WR,NaN,65.0,67.0,NaN,73.0,NaN,67.0,2013,93.0,CAR,162.5,15.0,10.8
898,122,Steve Smith,WR,NaN,NaN,NaN,NaN,122.0,NaN,122.0,2014,52.0,BAL,202.5,15.0,13.5
1553,151,Steve Smith,WR,NaN,NaN,145.0,165.0,151.0,NaN,157.0,2016,87.0,BAL,177.5,13.0,13.7

In [14]:
df.drop(columns=['espn', 'rtsports', 'mfl', 'fantrax', 'ffc', 'sleeper', 'avg_adp', 'rank_scoring'], 
        inplace=True)

df.head()

   rank_adp          player pos  year team  points  games  avg_scoring
0         1    Arian Foster  RB  2012  HOU   282.2   15.0         18.8
1         2        Ray Rice  RB  2012  BAL   282.6   15.0         18.8
2         3    LeSean McCoy  RB  2012  PHI   183.7   11.0         16.7
3         4   Aaron Rodgers  QB  2012   GB   315.9   15.0         21.1
4         5  Calvin Johnson  WR  2012  DET   330.2   15.0         22.0

In [15]:
df.to_csv('../resources/data/fantasypros_2012_to_2021.csv', index=False)

"done"

'done'